@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  outline: #1860EB;
  scroll-behavior: smooth;
}

body {
  background-color: #F6F7F9;
}

.container {
  max-width: 1216px;
  margin: 0 auto;
}

.accordion-active {
  display: block;
}

.accordion-active > div {
  display: block;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(51, 51, 51, 0.9); /* Use rgba to include alpha for transparency */
  backdrop-filter: blur(12px); /* Adjust the blur radius as needed */
}

